HTTP_URL=

# block fork number which has uniswap and weth deployed by
BLOCK_FORK_NUMBER=22964317

# deployed addresses
UNISWAP_V3_FACTORY_ADDRESS=0x33128a8fC17869897dcE68Ed026d694621f6FDfD
UNISWAP_V3_POSITION_MANAGER_ADDRESS=0x03a520b32C04BF3bEEf7BEb72E919cf822Ed34f1
UNISWAP_V3_SWAP_ROUTER_ADDRESS=0x2626664c2603336E57B271c5C0b26F421741e481
WETH_ADDRESS=0x4200000000000000000000000000000000000006

# file location for swap data
POOL_CREATED_CSV_FILE_PATH=./example_pool_data/pool_created_events.csv
INITIALIZE_CSV_FILE_PATH=./example_pool_data/initialize_events.csv
SWAP_CSV_FILE_PATH=./example_pool_data/swap_events.csv
MINT_CSV_FILE_PATH=./example_pool_data/mint_events.csv
BURN_CSV_FILE_PATH=./example_pool_data/burn_events.csv
COLLECT_CSV_FILE_PATH=./example_pool_data/collect_events.csv


